@charset "utf-8";
input.user-input, select.user-input{
	width: 160px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

table.geo-table th {
    font-weight: normal;
    border: 2px solid white;
}

table.geo-table thead tr {
	background-color: rgb(180,180,180);	
}

table.geo-table tr.grey {
    background-color: rgb(240,240,240);	
}